<launch>
    <!-- <arg name="path"         default="/home/zxh/ws/quaddif/outputs/train/2025-03-27/11-41-52/checkpoints/exported_actor.pt2"/> -->
    <arg name="path"         default="/home/zxh/ws/wrqws/quaddif/outputs/2025-03-27/13-27-29/checkpoints/exported_actor.pt2"/>
    <arg name="use_cuda"     default="true"/>

    <arg name="max_acc"      default="10."/>
    <arg name="max_vel"      default="5."/>
    <arg name="hover_thrust" default="0.707"/>
    <arg name="control_freq" default="30"/>

    <arg name="home_x"       default="0"/>
    <arg name="home_y"       default="0"/>
    <arg name="target_x"     default="54"/>
    <arg name="target_y"     default="54"/>
    <arg name="height"       default="3"/>

    <arg name="max_dist"     default="10."/>
    <arg name="image_height" default="9"/>
    <arg name="image_width"  default="16"/>
    <arg name="display"      default="true"/>

    <node pkg="accel_control" type="depth_camera.py" name="depth_camera" output="screen">
        <!-- camera parameters -->
        <param name="max_dist" type="double" value="$(arg max_dist)"/>
        <param name="img_height" type="int" value="$(arg image_height)"/>
        <param name="img_width" type="int" value="$(arg image_width)"/>
        <param name="display" type="bool" value="$(arg display)"/>
    </node>

    <node pkg="accel_control" type="obstacle_avoidance.py" name="obstacle_avoidance" output="screen">
        <param name="path" type="string" value="$(arg path)"/>
        <param name="use_cuda" type="bool" value="$(arg use_cuda)"/>
        <param name="max_acc" type="double" value="$(arg max_acc)"/>
        <param name="max_vel" type="double" value="$(arg max_vel)"/>
        <param name="hover_thrust" type="double" value="$(arg hover_thrust)"/>
        <param name="control_freq" type="int" value="$(arg control_freq)"/>
        <!-- home and target -->
        <param name="home_x" type="double" value="$(arg home_x)"/>
        <param name="home_y" type="double" value="$(arg home_y)"/>
        <param name="target_x" type="double" value="$(arg target_x)"/>
        <param name="target_y" type="double" value="$(arg target_y)"/>
        <param name="height" type="double" value="$(arg height)"/>
        <!-- camera parameters -->
        <param name="max_dist" type="double" value="$(arg max_dist)"/>
        <param name="img_height" type="int" value="$(arg image_height)"/>
        <param name="img_width" type="int" value="$(arg image_width)"/>
    </node>
</launch>